name: Build

on: [push, pull_request]

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - uses: actions/checkout@v4

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.22.0
        env:
          # Skip Python versions:
          # PyPy: Different C headers
          # muslinux: Different package manager and different C stdlib
          CIBW_SKIP: "pp* cp36-* cp37-* cp38-* *-manylinux_i686 *-musllinux_* *-win32"
          
          # Linux dependencies: 
          CIBW_BEFORE_ALL_LINUX: "yum install -y gcc libjpeg-devel zlib-devel"
          
          CIBW_BUILD_VERBOSITY: 1
          CIBW_TEST_COMMAND: "python {project}/tests/runtests.py"

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl
